body {
  width: 1920px;
  height: 700px;
  margin: 0px;
  background-color: #000000;
  background-image: url("../img/bg/harmonica_bg_01.jpg");
  background-repeat: no-repeat;
}

.highlight { /* Центральный блок с картинкой и кнопками */
  width: 1100px;
  height: 700px;
  padding: 0px;
  margin: auto;
  margin-top: 90px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.noteButtons { /* Класс для невидимой формы, в которой находятся все кнопки */
  display: block;
}

.volumeButtons {
  position: absolute;
  top: 215px;
  left: 60px;
  padding: 15px 20px 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.volumeButtons label input {
  display: none;
}

.volumeButtonDiv {
  width: 40px;
  height: 10px;
  margin-top: 8px;
  border-radius: 7px;
  cursor: pointer;
}

.greenVolumeButton {
  background-color: #15461c;
}

.yellowVolumeButton {
  background-color: #454615;
}

.orangeVolumeButton {
  background-color: #463315;
}

.redVolumeButton {
  background-color: #581a1a;
}

.volumeButtons label input:checked + .greenVolumeButton {
  background-color: #20ff02;
  box-shadow: 0px 0px 5px 2px #4eff48;
}

.volumeButtons label input:checked + .yellowVolumeButton {
  background-color: #ffd102;
  box-shadow: 0px 0px 5px 2px #ffe677;
}

.volumeButtons label input:checked + .orangeVolumeButton {
  background-color: #ff9102;
  box-shadow: 0px 0px 5px 2px #ffb048;
}

.volumeButtons label input:checked + .redVolumeButton {
  background-color: #ff0202;
  box-shadow: 0px 0px 5px 2px #ff4848;
}

/* Выделение регулятора громкости */
.volumeButtons label input:hover + .volumeButtonDiv {
  margin: 6px -2px -2px -2px;
  border: 2px solid #9e9c33;
  box-shadow: 0px 0px 3px 1px #dbdbc0;
}

.volumeButtons p {
margin: 0px 0px 12px 3px;
font-family: 'Gemunu Libre', sans-serif;
font-size: 25px;
color: #ffffff;
}

.noteButton { /* Кнопка с нотой */
  width: 60px;
  height: 60px;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 3px 2px 2px #000000;
  background-color: transparent;
  background-image: url("../img/button_unpressed.png");
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-user-select: none; /* Исключаем возможность случайно выделить буквы на кнопке */
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}