body {
  margin: 0px;
  display: flex;
  overflow: hidden;
}

.backgroundConteiner {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.background {
  width: 1920px;
  height: 1080px;
  margin: 0px;
  background-color: #000000;
  background-image: url("../img/bg/harmonica_bg_5.jpg");
  background-repeat: no-repeat;
}

.bgUp {
  animation-duration: 0.5s;
  animation-name: bgUp;
}

@keyframes bgUp {
  from {
    margin-left: 0px;
}
  to {
    margin-left: -1920px;
  }
}

.bgDown {
  animation-duration: 0.5s;
  animation-name: bgDown;
}

@keyframes bgDown {
  from {
    margin-left: -1920px;
}
  to {
    margin-left: 0px;
  }
}

.highlight { /* Центральный блок с картинкой и кнопками */
  width: 1100px;
  height: 700px;
  padding: 0px;
  margin: auto;
  margin-top: 90px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.noteButtons { /* Класс для невидимой формы, в которой находятся все кнопки */
  display: block;
}

.volumeButtons {
  position: absolute;
  top: 215px;
  left: 60px;
  padding: 15px 15px 22px;
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.volumeButtons label input {
  display: none;
}

.volumeButtonDiv {
  width: 35px;
  height: 8px;
  margin-top: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.greenVolumeButton {
  background-color: #15461c;
}

.yellowVolumeButton {
  background-color: #454615;
}

.orangeVolumeButton {
  background-color: #463315;
}

.redVolumeButton {
  background-color: #581a1a;
}

.volumeButtons label input:checked + .greenVolumeButton {
  background-color: #17c200;
  box-shadow: 0px 0px 5px 2px #5db85a;
}

.volumeButtons label input:checked + .yellowVolumeButton {
  background-color: #dbb300;
  box-shadow: 0px 0px 5px 2px #c2af5e;
}

.volumeButtons label input:checked + .orangeVolumeButton {
  background-color: #df7e00;
  box-shadow: 0px 0px 5px 2px #c09256;
}

.volumeButtons label input:checked + .redVolumeButton {
  background-color: #c00000;
  box-shadow: 0px 0px 5px 2px #9b4646;
}

/* Выделение регулятора громкости */
.volumeButtons label input:hover + .volumeButtonDiv {
  margin: 5px -2px -2px -2px;
  border: 2px solid #9e9c33;
  box-shadow: 0px 0px 3px 1px #dbdbc0;
  border-radius: 6px;
}

.volumeButtons p {
margin: 0px 0px 12px 1px;
font-family: 'Gemunu Libre', sans-serif;
font-size: 25px;
color: #ffffff;
-moz-user-select: none; /* Исключаем возможность случайно выделить буквы на кнопке */
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}

button:focus {
  outline: none;
}

.noteButton { /* Кнопка с нотой */
  width: 60px;
  height: 60px;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 3px 2px 2px #000000;
  background-color: transparent;
  background-image: url("../img/button_unpressed.png");
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-user-select: none; /* Исключаем возможность случайно выделить буквы на кнопке */
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.changeHarpButtons {
  position: absolute;
  top: 240px;
  right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeHarpButton {
  width: 65px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/change_button.png");
  background-size: 65px 28px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.changeHarpButtonDown {
  transform: rotate(180deg);
}

/* Нажатие на стрелочку */
.changeHarpButton:active {
  background-size: 60px 24px;
}

/* Выделение стрелочки */
.changeHarpButton:hover {
  background-image: url("../img/change_button_hover.png");
  background-position: center center;
}

.changeHarpButtons p {
  margin: 0px 0px 6px;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  -moz-user-select: none; /* Исключаем возможность случайно выделить буквы на кнопке */
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.changeHarpShow {
  width: 55px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Gemunu Libre', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.changeHarpShow p {
  margin: 0px;
  font-size: 42px;
  font-weight: 300;
}

.removeUp {
  animation-duration: 0.15s;
  animation-name: upAnimation;
}

@keyframes upAnimation {
  from {
    margin-top: 0px;
    transform: scale(1, 1);
}
  to {
    margin-top: -45px;
    transform: scale(0.9, 0.01);
  }
}

.createUp {
  animation-duration: 0.15s;
  animation-name: fromDownAnimation;
}

@keyframes fromDownAnimation {
  from {
    margin-top: 45px;
    transform: scale(0.9, 0.01);
}
  to {
    margin-top: 0px;
    transform: scale(1, 1);
  }
}

.removeDown {
  animation-duration: 0.15s;
  animation-name: downAnimation;
}

@keyframes downAnimation {
  from {
    margin-top: 0px;
    transform: scale(1, 1);
}
  to {
    margin-top: 45px;
    transform: scale(0.9, 0.01);
  }
}

.createDown {
  animation-duration: 0.15s;
  animation-name: fromUpAnimation;
}

@keyframes fromUpAnimation {
  from {
    margin-top: -45px;
    transform: scale(0.9, 0.01);
}
  to {
    margin-top: 0px;
    transform: scale(1, 1);
  }
}